timelpase/nrflow.flow
[{"id":"40f67ff5.c854e","type":"tab","label":"timelapseserver","disabled":false,"info":""},{"id":"f1f98e85.0a3fc","type":"http in","z":"40f67ff5.c854e","name":"","url":"/timelapse/*","method":"post","upload":false,"swaggerDoc":"","x":200,"y":280,"wires":[["f9a3f1cd.0822e","7fa679f8.f50888"]]},{"id":"f9a3f1cd.0822e","type":"function","z":"40f67ff5.c854e","name":"save files","func":"let basepath = '/home/pi/timelapse/';\n\nif (msg.req.params[0]){\n    msg.filename = basepath+msg.req.params[0];\n    return[null, msg];\n}\nmsg.payload = { error: 'no filename' };\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":420,"y":280,"wires":[["2375cf24.958fe"],["f295c623.92afc8"]]},{"id":"2375cf24.958fe","type":"http response","z":"40f67ff5.c854e","name":"","statusCode":"","headers":{},"x":870,"y":220,"wires":[]},{"id":"7fa679f8.f50888","type":"debug","z":"40f67ff5.c854e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":420,"y":400,"wires":[]},{"id":"9575a2f3.aef84","type":"inject","z":"40f67ff5.c854e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":520,"wires":[["ad3dda60.6cc1f8"]]},{"id":"ad3dda60.6cc1f8","type":"http request","z":"40f67ff5.c854e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:1880/timelapse/test/here","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":520,"wires":[["c41672e2.18966"]]},{"id":"c41672e2.18966","type":"debug","z":"40f67ff5.c854e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":520,"wires":[]},{"id":"f295c623.92afc8","type":"file","z":"40f67ff5.c854e","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":470,"y":320,"wires":[["a95146b1.ff5678"]]},{"id":"a95146b1.ff5678","type":"function","z":"40f67ff5.c854e","name":"ret success","func":"msg.payload = { message:'success for '+msg.filename };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":320,"wires":[["2375cf24.958fe"]]},{"id":"aec91c2f.3b9d5","type":"http in","z":"40f67ff5.c854e","name":"","url":"/timelapse/*","method":"get","upload":false,"swaggerDoc":"","x":180,"y":220,"wires":[["9b487534.faa328"]]},{"id":"9b487534.faa328","type":"function","z":"40f67ff5.c854e","name":"serve files","func":"let basepath = '/home/pi/timelapse/';\n\nif (msg.req.params[0]){\n    msg.filename = basepath+msg.req.params[0];\n    return[null, msg];\n}\nmsg.payload = { error: 'no filename' };\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":410,"y":220,"wires":[["2375cf24.958fe"],["bd6d126f.e42cb"]]},{"id":"bd6d126f.e42cb","type":"file in","z":"40f67ff5.c854e","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":550,"y":240,"wires":[["2375cf24.958fe"]]}]